[2017-11-16 23:39] jcs opened #1 "implement TOTP for logging into the API"
The Bitwarden apps already support prompting the user for a 2FA code when the identity server responds to a token request if the user's account has it enabled.

Implement a simple server-side setup which creates the TOTP secret for the user account and shows a [QR code](https://github.com/whomwah/rqrcode) to the user.

I would probably like to keep this as a server-side command-line script rather

[2017-11-19 17:20] Pschittt opened #2 "Documentation install"
Hello,

Is it possible to get a more detailled installation guide ? For users who are not familiar with Ruby and Sinatra ?

Thanks.

[2017-11-20 01:05] papertigers opened #4 "Folder support"
Have you looked at how hard folder support would be?  Started messing around with this project today. Thanks for doing this work!

[2017-11-20 01:19] jcs commented on #4
It's [already there](https://github.com/jcs/bitwarden-ruby/commit/2ecd4e9eb35124205b3203bee7943a15bc02657c), is it not working for you?

[2017-11-20 01:27] papertigers commented on #4
Hmm I tried from the iOS app. I haven’t had a chance to debug yet but here’s the log

__IP__ - - [19/Nov/2017:23:49:32 +0000] "POST /apifolders HTTP/1.1" 404 18 0.0013

[2017-11-20 01:29] jcs commented on #4
Hmm, looks like it dropped a slash between `api` and `folders` somehow.  Did you just set one URL for your private instance in the iOS app or did you fill in all 3?

[2017-11-20 01:46] papertigers commented on #4
I only set one URL up in the app.

[2017-11-20 02:12] jcs commented on #4
Ah, I get the same error from the iOS app.  I think this is a bug in the app, because folder creation/deletion works fine from the Firefox extension.

[2017-11-20 02:31] papertigers commented on #4
Ahh thanks. Sorry to bug you for no reason.

PS are you leaving your service exposed publicly or are you keeping it only on an internal LAN etc?

[2017-11-20 03:01] beatgammit opened #5 "Sharing and families/teams/enterprise features"
I didn't see anywhere on your project where you discussed how sharing passwords works in a self hosted environment. I'm interested in using an alternative to the official .NET application, and your project is the one that I found first.

Are you interested in supporting the non-free tier features (at least sharing)? If not, perhaps I'll try it on my own (I'm not a fan of Ruby, so it'll probably be

[2017-11-20 03:10] jcs commented on #5
I don't have any personal interest in it because I'm the only user of my instance, but I'm not opposed to merging such support if it was implemented cleanly.

There are `Organizations` and `OrganizationId` in the [API](https://github.com/jcs/bitwarden-ruby/blob/master/API.md) output so I'm assuming there's just an `Organization` object that `Cipher` objects can belong to (like `Folder` objects).

[2017-11-20 03:13] jcs commented on #4
No problem.  I'll leave this open to track when this gets fixed [upstream](https://github.com/bitwarden/mobile) (if you could file a bug there, that'd be great).

Mine is exposed publicly, which is one of the main reasons I wanted to write a small server instead of all the .NET stuff.

[2017-11-20 04:23] papertigers commented on #4
Filed: https://github.com/bitwarden/mobile/issues/174

[2017-11-20 09:53] Pschittt commented on #2
Thanks !

I’ve run it on docker, and it works great.

[2017-11-20 15:32] #2 closed

[2017-11-20 16:29] #1 closed

[2017-11-20 17:26] jcs commented on #4
@kspearrin quickly fixed that upstream, so I'm going to close this.

[2017-11-20 17:26] #4 closed

[2017-11-20 18:06] kspearrin opened #6 "README concern about key usage"
I noticed the following in your README:

This is inaccurate. Since the introduction of `User.Key` (generated 512 bit symmetric key) all items are encrypted with `AesCbc256_HmacSha256_B64`. The unencrypted version of the generated symmetric key never changes and is generated client-side at the time of account creation. If a user changes their master password, only the master key (via PBKDF2) change

[2017-11-20 19:58] jcs commented on #6
Thanks, I've updated the documentation to use the same terminology for each key as your site does.  My code was using `AesCbc256_HmacSha256_B64` for Cipher items (though it only ever encrypted/decrypted things server-side in the 1Password conversion) properly.

While I have you here, can you explain what the RSA keypair is used for, and is that what is returned from the identity server as `Private

[2017-11-20 20:03] kspearrin commented on #6
They keypair is used for the sharing features, which it seems you have not implemented. Feel free to ignore them. `PrivateKey` is the encrypted RSA private key. See the crypto app above.

`TwoFactorToken` is used when using "remember me" for 2FA. You can pass the returned `TwoFactorToken` next time and skip having to enter your TOTP again for example.

[2017-11-20 20:05] jcs commented on #6
Thanks!

[2017-11-20 20:05] #6 closed

[2017-11-20 21:02] rtfpessoa opened #7 "Docker support"
Hi,

Great initiative you have here. I started to look and could not find how to run this with a local installation of bitwarden. Do you have any guide?

Atm I made a [Dockerfile](https://github.com/rtfpessoa/bitwarden-ruby/blob/master/Dockerfile) to run this and a [script](https://github.com/rtfpessoa/bitwarden-ruby/blob/master/scripts/install.sh) to change the docker-compose setup to use that do

[2017-11-20 22:22] kendokan commented on #7
Another take at a Dockerfile, if it's of interest.

[code]

[2017-11-20 22:36] rtfpessoa commented on #7
Ups, closed by mistake.
About your Dockerfile, I have a couple of questions/suggestions:
* Why do you need gcc, abuild and binutils?
* Ideally I think the file should be bound to the repo where it is not necessarily the main repo, by cloning you remove the possibility for it to be used locally for testing etc
* bundle install did not work for me, that was why I did the work around, will check with

[2017-11-20 22:52] kendokan commented on #7
Bundle install requires make, gcc, etc. I remove them all as soon as build install completes, though. By the time the image is built the only additional apk package still installed is sqlite-dev.

Point taken on the downsides of doing a git clone from the master. You could also fork in github and change the repository path in the Dockerfile to your own repo. I do it this way because I generally pr

[2017-11-20 23:28] jcs commented on #7
I haven't worked with Docker but I'd like to make it easier for others to deploy as long as it's secure.  I'd prefer that one user is created to own the base directory and a separate user created that will own `db`, `log`, and `tmp`.

Also, it would be great if you could figure out why `bundle install` does not work, rather than manually installing `gem` dependencies that have to be synced if `Gem

[2017-11-21 05:30] kendokan commented on #7
`ALLOW_SIGNUPS` can be left out of the Dockerfile entirely and set as an environment variable by the user at the time of container creation.

[2017-11-21 19:47] rtfpessoa commented on #7
@jcs ok nice. I will look into the details you suggested and will do a pr with the setup script similar to the official one.

[2017-11-24 15:22] dabeeeenster opened #10 "Postgres Support"
Hi

Great project. I tried to get it running on a dokku host but dokku doesn't like sqlite at all. Any thoughts about supporting postgres/mysql?

[2017-11-25 00:37] jcs commented on #10
I do not have any plans to support PostgreSQL or MySQL, as I'd like to keep the code and dependency list as small as possible.

[2017-11-25 00:37] #10 closed

[2017-11-25 15:32] rtfpessoa commented on #7
I think I have most of the modifications in this commit https://github.com/rtfpessoa/bitwarden-ruby/commit/0c3d28194f1fb3250f75324ae24dbf2c704388c0 but for some reason the local installation seems to be connecting to the bitwarden.com vault.

If you want to give it a try you can run:
[code]

Do you have any ideas?

[2017-11-26 13:23] rtfpessoa commented on #7
@jcs I think I misunderstood this project. Before I got the full picture I tough this was only an API replacement, but this should replace all the backend components and be used with the Mobile and Brosers clients. Can you confirm this?

[2017-11-26 16:38] jcs commented on #7
That is correct, it is a complete standalone backend for the mobile apps and browser extensions.

[2017-11-27 15:15] MartinDelille opened #11 "<h1>Not Found</h1>"
After running the server with `env RACK_ENV=production bundle exec rackup -p 4567 config.ru` and connecting to `127.0.0.1:4567`, I only get `<h1>Not Found</h1>`...

[2017-11-27 15:18] jcs commented on #11
That's expected, there is no root route.  There is nothing to view in a web browser, since this is just an API server.

[2017-11-27 16:08] #11 closed

[2017-11-27 16:58] MartinDelille commented on #11
Ok sorry for that I misunderstood. Since my point is to perform a _1Password_ import, how do I create my initial user account with `bitwarden-ruby`?

[2017-11-27 17:01] jcs commented on #11
You can use the Bitwarden Firefox or Chrome extension.  Before logging in, click the settings icon in it and set a custom server URL of http://127.0.0.1:4567/

[2017-11-28 20:02] Pschittt opened #13 "Add compatibility with web vault"
Hello,

I've tryied to deploy the bitwarden web vault, and use the ruby api backend.
For the moment, your server is not fully compatible.

I'm not a ruby developper, so i'm not a really good help, but here is some hint.

When registering with the web vault, the POST command add a new attribute which is :
"key":"yyy",
"keys":
{
"publicKey":"XXXXX"
}
This new attribute "Keys" doesn't seem to be impl

[2017-11-29 20:38] Pschittt commented on #13
New update concerning the register POST command.
The API return this error : {"ValidationErrors":{"":["masterpasswordhash cannot be blank"]},"Object":"error"}

I've checked the POST parameters, and the masterpasswordhash is not empy.
I first though that it was because the parameter was "masterPasswordHash" (with upper letter case on Password and Hash). I've checked your code, and you set every par

[2017-11-30 20:25] Pschittt commented on #13
Daily update :
For the register POST, you're checking if the content-type is json (which is), but the web vault request doesn't specify this. It specifies it is JSON only on the "accept" header.
Then, your api doesn't parse the params.

[2017-12-01 20:59] Pschittt commented on #13
Daily update :) The register partially works with the web vault.

Here is the code for the api.rd file

[code]

And I added the public_key and private_key to the user

[code]

With this modification, the new user is correctly created on the database from the web vault.
BUT, the web vault doesn't consider that the user has been created, even if the ruby server returns a 200 code.
I think that the w

[2017-12-02 17:54] Pschittt commented on #13
I've created a pull request with my modifications. If you can link this issue to the pull request.
Thanks.

[2017-12-03 22:44] rtfpessoa commented on #7
@jcs https://github.com/rtfpessoa/bitwarden-ruby/commit/328392128af2ef13920f7a2efa18a6e2e1b96aac should have a working docker with a proper setup script and nginx.

Questions:
* There is one `attachments` server any idea if it is needed for the setup?

Notes:
* The scripts are still hardcoded to my GitHub username but before PR I will either generalize them or just update to yours.
* I am not sure

[2017-12-05 15:09] Pschittt commented on #7
@rtfpessoa I've tested your setup.rb file, and for me your settings for the web vault are OK.
(They are the same that I used for my testing).

But, currently @jcs API are compatible with the web vault. I've made some change to make them compatible.
You can check my pull request here : #14

[2017-12-05 15:39] rtfpessoa commented on #7
* About the WebVault where do you set it to use the local API?
* Regarding Nginx what would be the use case for you to use the setup.rb and not want Nginx? Just run the web vault? I guess that should not be hard to change.
* Build the docker might be a nice idea to allow people to not rely on any external sources for it.

I will try to do this soon.

[2017-12-05 15:46] Pschittt commented on #7
On your setup.rb you are creating a "web" directory which contains a settings.js file. That's the file used for the web vault parameter, where the backend servers url are set.

On the official bitwarden repository, the file is name settings.Production.json

[2017-12-05 16:41] rtfpessoa commented on #7
Let me see if I understood. The file I have settings.js has the correct addresses and it is still using the remote vault. Do I need to change the file to be named `settings.Production.json`?

[2017-12-05 17:03] Pschittt commented on #7
2 options for that :
- You rename the setting file to setting.Production.json
- You edit the file env variable on the package.json file to Development (it will use then the settings.json file.

It si explained here : https://github.com/bitwarden/web/blob/master/README.md

Regarding your question about nginx, It will be to use the setup.rb for only the web vault and the api backend.
I think that « 

[2017-12-06 11:34] rtfpessoa commented on #7
I think I fixed everything related to the webvault. And I added an option to run without nginx, can you test it?

Also I think building the docker might be a future option since it might take cloning and to make it right we would have to build the webvault too.

[2017-12-06 18:16] Pschittt commented on #7
I’ve checked quickly, some comments :
- You should ask from the begining if you plan to use nginx. If no nginx, there is no need to ask and generate certificate for let’s encrypt. Maybe add a disclaimer about security warning if no nginx and certificates (user should have one already configured)
- about docker mapping ports, the dockers are running on the same host. To work, each docker has to use

[2017-12-06 19:01] rtfpessoa commented on #7
1. I tough about that but to do it I would need to change a lot of code since I directly implemented what bitwarden had. If I have some more time I can look into it but the functionality is there and at least works for the case.

2. atm the dockers have no ports exposed, nginx is the one redirecting to their internal names without port since they are always using 80. We could customize the ports a

[2017-12-06 19:58] scantem commented on #7
I've been using the Dockerfile @kendokan posted it and it works well, my personal preference is for a container that doesn't require any changes to the project it's hosting. That container simply fires up a basic container that exposes the application on a port and can store the sqlite database on a volume, I'm not sure why we need much more than that.

[2017-12-06 21:07] Pschittt commented on #7
You’re right, maybe we should keep it simple.

The docker of @rtfpessoa is a script for full installation, including the web vault.

[2017-12-06 21:27] peacetara opened #15 "import from 1password error."
tools/1password_import.rb:153:in `block in <main>': unimplemented: "system.folder.SavedSearch" (RuntimeError)
	from tools/1password_import.rb:85:in `each'
	from tools/1password_import.rb:85:in `<main>'

[2017-12-06 21:33] peacetara commented on #15
Erasing the smart folders inside 1Password and then re-creating the .1pif seems to fix this error.

[2017-12-06 21:35] #15 closed

[2017-12-06 22:08] peacetara commented on #15
these 2 also need to be added to ignore:

"wallet.financial.BankAccountUS",
 "wallet.government.SsnUS"

[2017-12-06 22:29] rtfpessoa commented on #7
@scantem not sure what you mean, but my Dockerfile provides the same.

What the rest offers, is a script to install the full bitwarden suite like the official one with full support for SSL, out of the box and effortless.

[2017-12-07 21:26] #13 closed

[2017-12-10 21:07] shouya opened #16 "Fields under sections didn't gets imported correctly (1password)"
Hi,

In the 1password export file (1pif), each entry has the structure that includes something like:

[code]

In which `*1` fields have structures like:

[code]

and `*2` fields have structures like:

[code]

Type `*2` fields can actually contain 2FA secrets and other important information/password.

While currently the `1password_import.rb` script doesn't import type `*2` fields. `*1` fields are

[2017-12-11 10:51] Pschittt commented on #7
@kendokan Does your Dockerfile work ? I've tested it, and it doesn't seem to work for me.

From what I see, if it runs only "rackup -p ${PORT} config.ru" it doesn't work.
I need to run the full command to make it works : "env RACK_ENV=production bundle exec rackup -p ${PORT} config.ru"

[2017-12-11 16:16] Pschittt commented on #7
@kendokan
Edit : the dockerfile works.
What was not working was the access to my local sqlite database.

I explain myself :
Your dockerfile set permission to the db folder on the container (group abc, only known on the container).
I've mounted my db folder (from the host) to the db folder on the container. My host db folder ACL doesn't match the one set on the container during the build.
So, when

[2017-12-11 16:50] jcs commented on #16
I don't think it was intended.  My concern about importing extra fields was that sometimes 1Password had all of the original signup form fields included there, which often included passwords which then show up in clear text in the Bitwarden app.

[2017-12-11 16:52] kendokan commented on #7
@Pschittt
You can set the UID and GID environment variables to match the uid/gid of the host user you want to own the db folder. The abc user/group will then be created using that uid/gid and permissions will work.

[2017-12-11 21:44] Pschittt commented on #7
@kendokan
Is there a simple way to do this ?
I’ve read some article, and it seems complicated to do this.

[2017-12-11 22:05] scantem commented on #7
@Pschittt you just need to pass them through as environment variables like so:
`docker run -d --name bitwarden -e UID=1000 -e GID=100 -v /docker/bitwarden:/opt/bitwarden-ruby/db -p 4567:4567 imagename`

This will use the UID 1000 and GID 100 for local filesystem ownership of the db directory. If /docker/bitwarden doesn't exist on your local filesystem it will be created automatically and the corre

[2017-12-11 23:04] kendokan commented on #7
As @scantem said, or if using docker-compose with the Dockerfile, something like:

[code]

[2017-12-12 04:46] joelmccracken commented on #7
I started working on porting to the cloudron platform here: https://github.com/joelmccracken/bitwarden-ruby/commit/5edc4a6e48924139f4cb9f75c723f2c7680f24fd

(cloudron apps all run on docker)

[2017-12-12 14:03] feld commented on #5
I would love this as well.

[2017-12-12 21:19] Pschittt commented on #7
I’m sorry, but what the interest to get Bitwarden-ruby running on cloudron ? It already runs on docker.

[2017-12-12 21:33] kendokan commented on #7
It's for people that want to run self-hosted software but at the same time don't want to learn how to use and manage something like docker. I'd be reluctant to choose self-hosting for a critical security service that was still being managed by a third party. You get none of the advantages of self-hosting, but also all of the disadvantages of self-hosting (ultimately I chose not to self-host Bitwar

[2017-12-13 07:36] Pschittt commented on #7
Well, I don’t find using docker complicated if the projet is available on the docker hub.

[2017-12-13 15:58] joelmccracken commented on #7
@kendokan I don't necessarily disagree with your assessment, but cloudron supports self-hosting. I think for those who are worried about it, this is the route they would take.

[2017-12-17 16:50] Pschittt commented on #5
@jcs From what I saw, there is indeed Organizations, which regroup users.
The relationship between Organization and Cipher, is made via Collection and a CollectionCipher object.

In your API, it needs to add several database tables :
- "Organization" with (at least) these columns "Id", "Name", "BusinessName", "BillingEmail", "Plan"
- "OrganizationUser" with (at least) these columns "Id, "Organizat

[2017-12-18 19:49] Pschittt commented on #7
@scantem
I've tried to run your command :
`docker run -d --name bitwarden -e UID=1000 -e GID=100 -v /docker/bitwarden:/opt/bitwarden-ruby/db -p 4567:4567 imagename`

And nothing changed. The db folder (inside the docker) still has the host permission UID and GID. And the user ABC (created when the image has been created), still has the permission 1001 and 1001, set when the image has been created.

[2017-12-18 20:24] scantem commented on #7
@Pschittt My apologies, the UID & GID are ARGS, not ENV variables. Probably the easiest way is to use the docker-compose file kendokan supplied so that the ARGS are supplied when the image is built (or you can supply them if you build the image manually).

docker-compose is probably the way to go, it's good to have your original config settings if you ever need to create the container again.

[2017-12-22 10:44] andrzejwp commented on #5
I'm not a Ruby person either, but I would sure love this feature. Maybe @logic could help?

[2017-12-24 21:11] logic commented on #5
I'm afraid I'm mostly in the same boat as @jcs, I don't really have any personal need for any of the sharing/organization stuff, so it's probably not something I'll end up spending a ton of time on, at least not right now.

[2017-12-30 17:54] Pschittt opened #22 "Add file store feature"
Hello,

Bitwarden upstream can store file/attachment into a cypher entry, like keepass does.
It could be a ssh key for exemple.

Currently, the API cannot store files/attachments into the sqlite db.

[2018-01-02 10:30] universal commented on #22
I'm currently contemplating of switching to bitwarden from 1password and file attachments would be very nice. Currently I've a dummy setup locally, and only tried the Chrome extension, and I couldn't find a file entry there. I also had a quick look at the offical webapp/account, where file attachments are a premium feature. So I don't know if the attachments only work in the web-client, or also sh

[2018-01-02 21:52] gregf commented on #22
File attachments are the one thing keeping me from leaving the official server which is really bloated. I mean 6gb ram for a bitwarden server? Craziness.

[2018-01-03 00:21] mbirth commented on #7
I just installed [rtfpessoa/bitwarden-ruby](https://hub.docker.com/r/rtfpessoa/bitwarden-ruby/) on my Synology DS415+'s internal Docker host. No problems at all. Thanks a lot!

[2018-01-03 15:12] TMHBOFH opened #25 "a short question"
Hi,
a first thanks for your work.
Is it also possible to use the bitwarden-web client as frontend for you're backend?

best regards

[2018-01-03 17:18] jcs commented on #25
Please see #14

[2018-01-03 17:18] #25 closed

[2018-01-03 17:20] #16 closed

[2018-01-04 16:08] universal opened #27 "Fav-Icons"
If one wants to add support for favicons, this might prove helpful:

https://www.webmaster-source.com/2013/09/25/finding-a-websites-favicon-with-ruby/

Not sure how much code / librariries are to be used, since retrieving the initial icon might be better done outside of the request-lifecycle and in a background task.

[2018-01-05 19:40] TMHBOFH commented on #7
@mbirth
did you test the web vault too?
On my test installation the web vault ist not work.

**Thanks** for the great project

[2018-01-05 19:54] rtfpessoa commented on #7
@tmhbofh latest version should have web vault working. Previous versions
didn't. Otherwise I can take a look and eventually pr the whole thing.
On Fri, 5 Jan 2018 at 19:40, TMHBOFH <notifications@github.com> wrote:

--
Best,
Rodrigo

[2018-01-05 20:11] mbirth commented on #7
I only tested it with the Chrome extension and the Android app.

[2018-01-05 20:40] TMHBOFH commented on #7
@rtfpessoa

tanks for the fast replease?

I used this script for installation https://raw.githubusercontent.com/rtfpessoa/bitwarden-ruby/master/scripts/bitwarden.sh

Thanks for your help

[2018-01-05 20:45] rtfpessoa commented on #7
I am assuming you executed it with the command in here (
https://github.com/jcs/bitwarden-ruby/issues/7#issuecomment-348823514)
right?

That should work.

Can you report what were the options you selected/inserted?

On Fri, Jan 5, 2018 at 8:40 PM TMHBOFH <notifications@github.com> wrote:

--
Best,
Rodrigo

[2018-01-05 21:07] TMHBOFH commented on #7
yes you are right

a short install descript

./bitwarden.sh install

(!) Enter the domain name for your bitwarden instance (ex. bitwarden.company.com): pw.test.*******.de
(!) Do you want to use Let's Encrypt to generate a free SSL certificate? (y/n): n
dev: Pulling from rtfpessoa/bitwarden-ruby
Digest: sha256:dcc4fbef73acde046982d49b36b50f3681b4e9f4c7052b4206201685f0d9905b
Status: Image is up to d

[2018-01-05 21:17] rtfpessoa commented on #7
Ahhh, ok. That is normal, we need
https://github.com/jcs/bitwarden-ruby/pull/14 and also something from
bitwarden. But should not take long to be fixed.

On Fri, Jan 5, 2018 at 9:07 PM TMHBOFH <notifications@github.com> wrote:

--
Best,
Rodrigo

[2018-01-05 21:21] TMHBOFH commented on #7
Ahh ok i understand

Thank you very much for the fast answer and all other.

[2018-01-06 21:18] universal commented on #22
I documented the relevant api methods in f3f89d2597d3f7777b8a1e6164ffaf10f6163af1
I did an initial stab at implementing it, but I'm not yet done, and since I did the work based of the pull request #26 I'll just link to the commit with the current wip: ce4d008c8a992ba884cef3a7858e9eb08ccfb4d6

[2018-01-08 14:49] universal commented on #22
I've the basic implementation done, it surely can be improved a lot. It still misses the specs and since I've based it off my restructure branch, I'm not submitting a pull request just yet.

It also doesn't clean up the files if you directly delete the cipher, and it still has attachments.

If anyone wants to take a look: https://github.com/universal/bitwarden-ruby/tree/attachments

[2018-01-10 11:40] universal commented on #22
The only missing thing now is a human_file_size method. I squashed the commits in this branch: https://github.com/universal/bitwarden-ruby/tree/attachments_squashed . Once the pull request about modularizing the code(#26 ) has been handled in some way, I will adopt this code accordingly and then submit another pull request for the file store functionality.

[2018-01-16 10:41] jh74 commented on #7
Following this project since December and looking forward to when the login via web vault will function properly :-)
In the meantime I wanted to try out the bitwarden Conversion tool but have no clue how to use this with the docker container. How can I use the command `env RACK_ENV=production bundle exec ruby tools/bitwarden_import.rb -f /path/to/data.csv -u you@example.com` in the docker containe

[2018-01-16 21:53] rtfpessoa commented on #7
@jh74 you can try `docker run -v  /path/to/data.csv: /path/to/data.csv -e RACK_ENV=production --entrypoint bundle <docker-image-name> exec ruby tools/bitwarden_import.rb -f /path/to/data.csv -u you@example.com`

[2018-01-16 22:41] jh74 commented on #7
@rtfpessoa Thank you that seems to be the correct way but:
The error `ruby: No such file or directory -- tools/bitwarden_import.rb (LoadError)` is because you dont have the `bitwarden_import.rb` in your folder tools of the api docker
I switched to `lastpass_import.rb` to see if it works but then i get a `tools/lastpass_import.rb:66:in <main>: can't find existing User record for "here.my@mailadress

[2018-01-21 16:45] beatgammit commented on #5
I haven't done Ruby in years, but maybe I'll take a crack at it. That's not a promise in any sense though.

[2018-01-25 23:54] mprasil opened #28 "Support Delete selected functionality"
This one should be fairly easy to implement, might give it a go sometimes later myself.
The `POST` request is sent to `/api/ciphers/delete`

Post data is just list of ids:
[code]

[2018-01-26 15:11] universal commented on #28
Hmm... is the request originating from the web-vault? Curious because the chrome-plugin sends ```DELETE /ciphers/:uuid``` for example, and the web-vault: ```POST /ciphers/:uuid```

But yes, the implementation should be fairly straightforward.

[2018-01-26 16:30] mprasil commented on #28
Oh yeah, forgot to mention that it's from web-vault. I'm actually using your additions branch @universal

[2018-01-29 11:37] universal commented on #28
@mprasil: I added support for deleting and moving multiple ciphers to my additions branch. The web-vault doesn't update on deletion of multiple ciphers though, so reloading it afterwards is required... I don't see a difference between the response from the ruby-server, and the official server, so I'm clueless as to why it does not update! It deletes the entries just fine though.

[2018-01-29 11:52] mprasil commented on #28
That's perfect, I'm going to give it a try now!

[2018-01-29 23:35] mbirth commented on #7
@rtfpessoa Do you plan on updating your Docker listing when this Repo is updated or is there some updater in your image?

[2018-01-30 17:12] edas opened #30 "Ruby 2.5.0 compatibility ?"
Hi

The Gemfile has a constraint for ruby to be < 2.5.0.

Is there any known issue in this regard?

`rake test` does not fail and I see no issue about it.

Thank you

[2018-01-30 17:22] jcs commented on #30
I don't think so, I just never tested it with 2.5.

[2018-03-02 00:00] kspearrin opened #32 "API Breaking Changes Coming"
@jcs Just thought you should know that there are some breaking changes coming to cipher API models.

1. `Cipher.Login.Uri` on the request and response models is being deprecated in favor of `Cipher.Login.Uris`, an array of `{ "Uri": string, "Match": enum }`
2. The cipher response model is being updated to better match the request model. Namely:
    - `Data` prop is being deprecated.
    - Adding:

[2018-03-02 19:04] #30 closed

[2018-03-04 15:15] linktohack commented on #32
Thanks for your openness @kspearrin! Cannot think you're willing to contribute to this repo!

[2018-03-14 09:12] root-dir commented on #27
If you just want icons to work and don't mind the bitwarden project seeing your saved URL's you can set the icons server URL in the addon to https://icons.bitwarden.com and it functions.

[2018-03-20 17:13] rmx-it opened #34 "Syncing fails with latest Browser addon"
Hi,
as it seems, the latest firefox addon fails to sync now against bitwarden-ruby.
Maybe API changes upstream?

Greetings
...
Mike

[2018-03-20 18:36] raufis27 commented on #34
Same problem here. Desktop app works fine.

[2018-03-20 18:36] jcs commented on #34
I am working on it, see #32

[2018-03-20 18:37] raufis27 commented on #34
Thank you!

[2018-03-20 18:58] raufis27 opened #35 "Let's Encrypt cert"
Could you please explain how to setup let's encrypt cert ?

[2018-03-20 19:18] #35 closed

[2018-03-20 19:53] feld commented on #32
I don't see this API change mentioned, but I am seeing this with the latest extension:

    Mar 20 19:50:16 colo bitwarden: 47.49.35.242 - - [20/Mar/2018:19:50:16 +0000] "GET /api/accounts/revision-date HTTP/1.1" 404 18 0.0008

[2018-03-20 22:33] jcs commented on #34
Please see #36 and help test these changes so I can merge them into master.

[2018-03-20 22:33] #34 closed

[2018-03-20 22:33] jcs commented on #32
Please see #36 and help test these changes to work with the new upstream clients.

[2018-03-20 22:57] raufis27 commented on #32
Tested Safari extension and it works. But iOS app doesn't load db anymore. It just keeps spinning.

[2018-03-20 22:58] kspearrin commented on #32
This is because mobile apps don’t have the new seat update yet. They will go out tomorrow.

[2018-03-20 23:01] kspearrin commented on #32
@raufis27

Side note: did your safari extension auto update to 1.25.x? I've been trying to test the auto-updates there but it seems like none of my extensions every update.

[2018-03-20 23:03] logic commented on #32
FWIW, current android release crashes on sync as well, because `Data` isn't populated. It's (hopefully) a short-lived problem, but worth mentioning (and pretty easily rectified by generating a `Data` hash before sending the `cipherDetails` out the door).

The migration went perfectly for me with the auto-updated Firefox extension, and I have a... er... non-trivial database, so a big :+1: here.

[2018-03-20 23:08] jcs commented on #32
I had some code in there to supply a legacy `Data` object in the old format (as well as `Uri` from `Uris[0].Uri`) but `Cipher#update_from_params` didn't support updating records from old clients, so I took it out.  Since the new mobile clients are releasing tomorrow, I'll just wait to test with those.

[2018-03-20 23:12] raufis27 commented on #32
@kspearrin I reinstalled extension. Didn't use update function.

[2018-03-20 23:22] raufis27 commented on #32
Some issues:
1. Can't add URL to item. Tried existing and new item. I see PUT request, but url not saved.
2. Desktop app doesn't work, same problem as iOS app.

[2018-03-21 01:37] feld commented on #32
Confirmed, adding URI to an item seems to create a blank URI field.

[2018-03-21 04:02] jcs commented on #32
That should be fixed with c3e0eb1f3.  It was saving but the client was not reading it back properly because of the case.

@kspearrin It'd be really nice if all of the apps and API could agree on a case format 😀 It's odd that the browser extension sends everything in lowercase (`"login": { "uris": [ "uri":`) but then requires it back as `"Login": { "Uris": [ "Uri":`.

[2018-03-21 12:41] kspearrin commented on #32
Yea, our server is case insensitive, so I guess we get a little lax with that. :-/ ideally everything would be camel.

[2018-03-22 02:04] jcs commented on #32
Thanks for testing everyone, this functionality is now in HEAD

[2018-03-22 02:04] #32 closed

[2018-03-22 13:31] linktohack opened #38 "Export db from command line"
https://github.com/jcs/bitwarden-ruby/issues/32 makes me think think that it should be safer to have  an option to export the whole db in case the extensions/mobile apps stop working again. (Again, huge thanks to @kspearrin for warning us.)

I suggest that we keep the bitwarden format, basically reverse of https://github.com/jcs/bitwarden-ruby/blob/master/tools/bitwarden_import.rb

[2018-03-22 15:47] raufis27 opened #40 "Mac OS desktop add doesn't work"
Should we wait for update from bitwarden or this is something you have to fix ?

[2018-03-22 15:50] jcs commented on #40
It's working for me with the latest changes in #36, are you using version 1.1.0 of the macOS app?

[2018-03-22 15:52] raufis27 commented on #40
I just downloaded latest available app from website and it is 1.0.5. How did you update ?

[2018-03-22 15:53] raufis27 commented on #40
Oh I see, App Store has latest, but website doesn't.

[2018-03-22 15:54] jcs commented on #40
@kspearrin

[2018-03-22 15:55] raufis27 commented on #40
1.1.0 Works fine. Thank you.

[2018-03-22 15:57] jcs commented on #40
You may want to file an issue on the upstream @bitwarden repos to update the download link to 1.1.0.

[2018-03-22 15:57] #40 closed

[2018-03-22 16:03] kspearrin commented on #40
Download links are updated. Thanks.

[2018-03-22 16:22] raufis27 opened #41 "KeePass import"
So I just tried KP import script. It reports successful import of 100 items. But all I see in Bitwarden after import are folders I have in KP with 0 content. Do we have to fix script to work with latest API ?

[2018-03-23 16:06] raufis27 opened #42 "Web Vault doesn't work"
Any plans to make api compatible ?

[2018-03-23 16:53] mprasil commented on #42
Hey, @universal is working on this, there was a pull request #37 for that, but it looks like there are some issues to solve after the new API was introduced.

If you want to give it a try you can check his [additions branch](https://github.com/universal/bitwarden-ruby/tree/additions) or you can try my [docker image](https://hub.docker.com/r/mprasil/bitwarden-ruby/) which is using latest Vault and

[2018-03-24 07:58] universal commented on #42
Hello,

I updated my additions branch with the new api changes and it should work now! I'll try to split up the code and submit smaller pull requests!

Best Johannes

[2018-03-24 11:47] raufis27 commented on #42
@universal Thank you. Any chance that you can update KeePass script to work with latest API?

[2018-03-24 11:49] mprasil commented on #42
Have you tried the Keepass import in Vault? It worked fine last time I've tried.

[2018-03-24 12:10] raufis27 commented on #42
I can't get Web to work. Can someone share settings.json example ?
I changed api url to "http://1.....:4567" and "identityUri": "http://1......:33656", (also tried "http://1.....:4567"). But I get this errors:

[Error] XMLHttpRequest cannot load http://1....:4567/connect/token. Preflight response is not successful
[Error] Failed to load resource: Could not connect to the server. (token, line 0)
[E

[2018-03-24 13:54] universal commented on #42
## regarding keepass import:
since I'm not using keepass, I'm not interested in it. what you could easily do is check out an older version, import the data and then switch to the current version. Adopting the script is not really complicated and should be possible even if you have little to no knowledge of ruby.

## web vault:
look at my additions branch, there is a tools/compile_webvault.script t

[2018-03-24 14:07] universal opened #43 "ActiveRecord"
I'm currently having a look at bringing in activerecord for the db stuff. It would open up the possibility to easily use other db systems. It would also probably simplify serializing data to and from the db in json format.

Some questions came up:

1. The standalone-migrations gem in the current version depends on nearly everything of rails. The question is if that is something that is ok? It hand

[2018-03-24 17:06] raufis27 commented on #42
I tried tools/compile_webvault.script. Same problem - [Error] XMLHttpRequest cannot load http://1.....:4567/identity/connect/token. Preflight response is not successful
[Error] Failed to load resource: Preflight response is not successful (token, line 0)
[Error] XMLHttpRequest cannot load http://1....:4567/identity/connect/token. Preflight response is not successful

[2018-03-24 17:57] universal commented on #42
@raufis27 the web-vault does not work against this repository currently, you need to use my additions branch if you want it now! and be sure to specify the correct host for your env!

[2018-03-24 18:01] raufis27 commented on #42
@universal
I am using your branch. I keep posting here because we started conversation here. I did specify correct host... at this point I am not sure what I do wrong. I’ll try docker image later.

[2018-03-24 20:53] raufis27 commented on #42
@mprasil After adopting bash scripts from your repo I was able to put everything together. I am running test environment under ubuntu server now. Thanks for your help.

[2018-03-26 09:17] Odysseus16 commented on #5
If you would like more information about the Organization feature, you can visit the [my](https://github.com/Odysseus16/bitwarden-go) repository
(it's written in go). I have implemented it, and as soon as I have time I will update jcs great API.

[2018-03-27 13:00] jacklenox opened #45 "Can't seem to sync"
I was excited to stumble upon this project. I believe I've got it up and running on my local machine, however I can't seem to sync any of the apps with the ruby server. When I try to sync from either the desktop app or web browser, it fails to do so. On startup, both the desktop app and Firefox browser extension seem to hang indefinitely with the loading gif until I interact with them.

I see this

[2018-03-27 13:16] raufis27 commented on #45
Can you check desktop app and extension version ?

[2018-03-27 13:17] jacklenox commented on #45
Here's all the desktop app info:

[code]

[2018-03-27 13:19] raufis27 commented on #45
That looks good. So were you able to create account and sign in with desktop app ?

[2018-03-27 13:19] jacklenox commented on #45
FF and Chrome extension version is `1.25.5`. I tested it and it's also not working in Chrome, which I'd expect as they're now essentially the same extension.

[2018-03-27 13:19] jacklenox commented on #45
Yep, I can create an account and sign in, I just can't sync.

[2018-03-27 13:25] jacklenox commented on #45
Yep, everything works fine, including syncing across apps/extensions, until I try to import 1Password stuff.

The 1Password import seems to go fine, e.g. no errors in the console, but it's obviously breaking something.

[2018-03-27 13:27] raufis27 commented on #45
Do you use ruby script to import 1pass ? If yes, then it is not gonna work, I had the same problem with keepass. Those scripts are not optimized for new api. Your option is to install Vault and import 1pass db.

[2018-03-27 13:30] jacklenox commented on #45
Oh, I see. Yes I used the ruby script. Sorry, I didn't realise that. So when you say "install Vault", what do you mean by that?

[2018-03-27 13:32] raufis27 commented on #45
@jcs Could you please update manual and remove import scripts section. Unless you want to fix them.

[2018-03-27 13:40] raufis27 commented on #45
@jacklenox please read #42
I used mprasil's scripts to build web vault and api on ubuntu. I don't use docker.  https://github.com/mprasil/docker-bitwarden
Check build-web and build-api scripts from repository, install nginx and use nginx.conf to setup proxy for vault.

[2018-03-27 13:52] mprasil commented on #45
@jacklenox if you're OK using Docker (even temporary) see my [docker image here](https://hub.docker.com/r/mprasil/bitwarden-ruby/). You can just use it to import the passwords via Vault and then continue using the created db file with any setup you like.

[2018-03-27 14:05] universal commented on #45
the 1password import still uses the old data field for storing the information. You should be able to fix your data by calling the migrate_data! method in the cipher model from an irb session or at the end of the import script.

fixing / adopting the import script shouldn't also be too hard, just take the migrate_data! method as a rough blueprint and adopt the necessary sections.

[2018-03-27 14:18] jacklenox commented on #45
Thank you so much for you all your help @raufis27, @mprasil and @universal.

@mprasil, your Docker thing is great. I've got it up and running. For some reason I'm struggling to run it on any port other than `8080`. Should it not just be as simple as changing the ports here? `docker run -d -v /bitwarden_data/:/bitwarden/api/db/ -p 8080:8080 mprasil/bitwarden-ruby`?

[2018-03-27 14:25] mprasil commented on #45
Yes, it should be pretty easy just do `-p <whatever_port>:8080` and the service will be exposed on `whatever_port`. I don't see how that won't work unless your Docker installation is seriously miss-configured.

[2018-03-27 14:56] #41 closed

[2018-03-27 14:57] jcs commented on #45
The importers should now migrate data to the new format if you want to try importing again to a clean database.

[2018-03-27 15:04] jcs opened #46 "add tests for importers"
Each importer should come with a file of example data so that tests can be written.  I can't manually test any of them so I won't know when they break in the future.

This will make it easier to update them to the new data format (see ae3744e1c).

[2018-03-27 15:07] jcs commented on #43
Moving to #44

[2018-03-27 15:07] #43 closed

[2018-03-28 09:53] jacklenox commented on #45
@mprasil Thank you! I was changing both port numbers there. :man_facepalming:

@jcs Thank you also, I may try that again!

[2018-03-28 09:53] #45 closed

[2018-04-26 12:04] pc-coholic opened #49 "Reset folder-ID of ciphers when deleting folder"
I recently deleted a folder containing quite a lot of entries using the Bitwarden Desktop-App.

The deletion of the folder itself worked without any issues, however it seems like bitwarden-ruby does not reset the folder-ID of the ciphers in question to NULL.

This causes a minor issue, as the ciphers are still available by searching for them, but they are not listed in the "No Folder"-section.

I

[2018-04-26 17:02] universal commented on #49
If you can, it would be great if you could contribute a test case for that (```spec/folder_spec.rb```) and the handling to the routing class: https://github.com/jcs/bitwarden-ruby/blob/master/lib/routes/api.rb#L278
or to the folder class and have a "before destroy" hook :-)

[2018-04-30 08:34] krystiansliwa commented on #22
@universal Hi, when do you plan to make PR for that feature?

[2018-04-30 09:59] lorddusk opened #50 "iOS 'problem with connecting to the server'"
I can connect to the server with all browser extensions, android application and desktop application. But if I want to connect with my iPhone, it tells me that it has a problem with connecting to the server.
I can't see anything in the running console.

Anything I can do to make this work?

[2018-05-02 07:56] universal commented on #22
@krystiansliwa Once the pull request about active-record #44 has been handled, I'll submit a pull request.

[2018-05-02 08:12] universal commented on #50
Hmm, this is weird. I'm also using the app on an iPhone, and it works just fine. I'm using the additions branch from my fork though, so maybe the addition of the web-vault compatibility helps? You can check the requests and responses by adding a custom logger (see this commit for details: https://github.com/universal/bitwarden-ruby/commit/8341e594506346537e1c01c2b575d3e915497845).

Maybe this alre

[2018-05-02 08:16] lorddusk commented on #50
@universal I tried running your additions fork, but it wasn't compatible with the database I created in the normal branch.

[2018-05-12 11:31] vephinx commented on #7
@kendokan I use your Dockerfile from https://github.com/jcs/bitwarden-ruby/issues/7#issuecomment-345851417 and I use your `docker-compose.yml` from https://github.com/jcs/bitwarden-ruby/issues/7#issuecomment-350887855 like this:

[code]

however when I run `docker-compose up -d` I get this error:

[code]
What am I doing wrong? Thanks!

[2018-05-14 15:07] kendokan commented on #7
My Dockerfile uses base image ruby:2.4.2-alpine3.6, but it looks like you're using a newer version or Ruby than I am. Based on the error, bitwarden-ruby will work up to 2.5.0.

[2018-05-15 13:01] universal commented on #49
Commit  92af2e19155f2da60204b9fd9758ba66f5eb1c9a in #52 fixes this problem.

[2018-05-15 15:10] MrClayPole opened #53 "Some identity fields are not saved"
Version 1.2.0
Shell 1.8.4
Renderer 59.0.3071.115
Node 8.2.1
Architecture x64
OS Windows 10 Pro x64

When creating a new identity and hit save the follow fields are not saved: First Name, Middle Name, Last Name, Social Security Number, Passport Number, License Number & Post Code. If I edit the entry they are not visable and if I enter them again and hit save they are also not saved.

[2018-05-15 17:47] universal commented on #53
Hello can you check if it works if you apply #47 ? This might fix this!

[2018-05-15 20:14] MrClayPole commented on #53
Thanks for the patch. I've manually patched the lib/helper.rb file as per the commit and its now working.

[2018-05-24 09:48] universal commented on #50
@lorddusk does it work for you now? Using my active-record(-additions) branch it works for me.

[2018-05-24 09:50] universal commented on #22
there is a second pull-request #52 , which includes active-record and storage support. I'm using this branch personally and it works fine for me using either Chrome/Firefox or the iOs App.

[2018-05-24 09:56] lorddusk commented on #50
@universal I will check asap, will get back to you later today (CEST)

[2018-06-12 09:56] mannp commented on #7
@rtfpessoa Hi, I am giving your docker a try and can't seem to disable account creation.

I've added the docker variable ALLOW_SIGNUPS=false but signups are still allowed?

Also, does your docker use the official bitwarden web vault, potentially exposing the microsoft and .net issues I am concerned about? (no specific evidence here, but still concerned)

@kendokan I use an nginx proxy with LE and

[2018-06-12 12:46] TMHBOFH commented on #7
@mannp
i switched to this [project ](https://github.com/mprasil/bitwarden_rs)and for me it works fine

[2018-06-12 14:09] mannp commented on #7
Thanks @TMHBOFH , thats the one I was using for my test and yes it works for me, but the allow signups seemed hardcoded and I wasn't sure if that was intended or not working correctly.

It also appeared to my untrained eye to be using the original bitwarden vault, which I didn't want either.

I've setup a docker with @kendokan 's docker build above and after a small ruby version tweak was able to

[2018-06-12 14:39] mannp commented on #7
Resolved by adding --keepass into the intial bundle install in the docker rather than trying to add in later.

Now have a keepass import error which I will report separately.

[2018-06-12 14:44] mannp opened #54 "Keepass Import error 'read_header'"
Thanks for creating this.

I have got things running in a docker and 2FA works, but trying to import keepass directly fails with the following error;

It asks for my password and then errors immediately.

Database is Argon2 AES 256.

Thanks in advance

[2018-06-12 15:02] mprasil commented on #7
Hey @mannp, the Rust Bitwarden [image](https://hub.docker.com/r/mprasil/bitwarden/) @TMHBOFH suggested _doesn't_ have signups hardcoded. I've just forgot to mention that in the documentation. Just run the container with `-e SIGNUPS_ALLOWED=false` and signups will be disabled. I will add that to README.

Not sure what you mean by "original bitwarden vault", is there some patched version you're usin

[2018-06-12 18:54] mprasil commented on #7
@mannp I think you're misunderstanding how Vault works. It's just a bunch of static files - an Javascript app basically and it's using the same API that your other apps use. So you're not really exposing yourself more than you'd do without the Vault - the only extra thing it does is that it serves static files for the Vault.

[2018-06-12 19:03] mannp commented on #7
@mprasil ok thanks for the clarification.

I re-setup your docker and all appears to work, but imports from bitwarden, 1P and Keepass don't work for me.

Not sure what I am doing wrong, will have to investigate further.

[2018-06-12 19:11] mprasil commented on #7
That's weird,  do you get any error? This worked for me since long time ago. (only used Bitwarden and Keepass imports) Feel free to report issue under my repo to not abuse this thread with unrelated content.

[2018-06-27 17:10] #50 closed

[2018-06-27 17:14] jcs commented on #54
From the [`rubeepass` code](https://gitlab.com/mjwhitta/rubeepass/blob/master/lib/rubeepass.rb#L404), it looks like it failed reading your database file.  I would try opening an issue there since all of the Keepass reading is done by that gem.

[2018-06-27 17:14] #54 closed

[2018-06-28 17:21] papertigers opened #56 "undefined method `try`"
Have you seen the following error before?  Not sure what changed, I tried to upgrade to the latest in master with the sinatra fix.

[code]

[2018-06-28 17:24] papertigers commented on #56
Running `git checkout 2231d81a25d702a50835b9211467884eacceabc7` does make things work again fwiw.  So, perhaps `663da6` doesn't fix the error you were attempting to fix?

[2018-06-28 17:49] #56 closed

[2018-06-28 17:53] papertigers commented on #56
Fix confirmed.  Thanks!

[2018-07-04 22:05] parski opened #57 "Bad Request-Line and bad URI errors on account creation"
I'm having some trouble setting up this service in a FreeNAS 11.1 jail. It's a fresh jail that I haven't tampered with apart from creating a user for bitwarden, installing RVM and with it Ruby 2.4.1. First I tried to use the port of this service but it appears to be outdated and a test was failing so I decided to clone the repo instead. Now all the tests are passing:
[code]

Looks great. Now I run

[2018-07-04 22:08] jcs commented on #57
Are you accessing the rack instance (on port 4567) directly or do you have a server in front of it like nginx?

[2018-07-04 22:11] parski commented on #57
I guess FreeNAS could be doing some proxying with nginx but in that case I haven't configured it, it's a pretty much out of the box installation. I've just specified the IP of the jail followed by the port in the clients.

[2018-07-04 22:15] jcs commented on #57
Are your Bitwarden apps trying to talk to your server over https?

[2018-07-04 22:20] parski commented on #57
Both clients went ahead and silently added `https://` after saving the configuration. I suppose that's a good thing and I'm ashamed for not specifying it with `http://` before setting up TLS/SSL on the server.

Thanks for the help and I'm sorry to have bothered you. I'm looking forward to trying your service, it seems great!

[2018-07-04 22:21] #57 closed

[2018-07-11 04:30] #28 closed

[2018-08-01 09:52] universal commented on #53
note  to myself: need to cross-check with the new web-vault if anything in parameter handling changed there.

[2018-08-03 11:39] alxchk opened #59 "Bitwarden import breaks syncronization"
How to reproduce:
1. Setup clean rubywarden db
2. Start server (allow registration)
3. Register via Android mobile App
4. Stop server
5. Import CSV (common format). Records like:
[code]
6. Start server
7. Login into app - storage never shown
8. Manual sync doesn't work either (200 OK from server but sync failed message in app)

[2018-08-05 00:35] Joshndroid opened #60 "env: 'bundle': no such file or directory"
Hello,
I'm trying to get this running on a fresh install of Lubuntu 18.04 LTS
I have installed ruby via rbenv which appears to be setup correctly.
I have created _rubywarden user and installed the required gem files as necessary.

I am running the command;

`sudo -u _rubywarden env RACK_ENV=production bundle exec rake db:migrate`

and receive output

`env: 'bundle': no such file or directory.`

I

[2018-08-05 03:34] #60 closed

[2018-08-06 16:04] jcs commented on #59
What did you use to import the CSV?

[2018-08-06 16:06] jcs commented on #49
Should be fixed with the merging of #52

[2018-08-06 16:06] #49 closed

[2018-08-07 05:29] alxchk commented on #59
The script bitwarden_import.rb

[2018-08-07 19:26] Adezandee opened #62 "Devices table"
Hello @jcs,
A new `devices` entry is saved into DB each time I login with the same device (chrome browser).
By looking at the code, it seems like it should be uniq per enduser device, right?

[2018-08-07 21:26] jcs commented on #62
The identifier comes from the browser, so if the browser is sending a different identifier each time you login, that's to be expected.

[2018-08-07 23:18] Joshndroid commented on #59
I can confirm this issue is present with a fresh install and utilising a bitwarden exported csv. Tried utilising root user as well as an adduser of _rubywarden. Conducted numerous re-installs of rubywarden same error. Database seems to get broken. From fresh install, manual input of passwords will work just fine. Infact i had to do this in order to actually use this (200+ passwords later :[ ).

[2018-08-08 07:40] siddhantgoel opened #63 "Migration from bitwarden-ruby not working"
I tried to migrate from `bitwarden-ruby` this morning following the directions from https://github.com/jcs/rubywarden/blob/master/AR-MIGRATE.md .

`bundle --with migrate` worked without problems, after which I ran into the following exception.

[code]

Not sure what I can do to fix this. Any help would be appreciated. Thank you!

[2018-08-10 11:27] pc-coholic commented on #63
I have to same problem - but to be fair, I am not even able to migrate to AR with the very first commit of AR (5ab123d499d9cd43ef4ee182c78db19e46de3201).

The last working version for me is 0f3da81afa7782eab397a036bdcb2dc2edb0e752 - but that one is obviously still without AR-support.

[2018-08-10 11:36] tanshu commented on #63
The problem is with the location of database file.
Before the move to AR it was located at db/production.sqlite3.
Now it is expected to be at db/production/production.sqlite3. Just copy the old database into the production directory and the migrate should work properly.

[2018-08-10 11:43] pc-coholic commented on #63
Yes, this solves the issue...

Perhaps the migration script could take care of this automatically - or at least we should add a more prominent hint into the migration-documentation...

I know that the new location is mentioned at the bottom of the migration-guide - but still, it was not clear enough for me to realize, that I need to manually adjust the paths... :-)

[2018-08-10 11:48] siddhantgoel commented on #63
That did solve the issue (thanks!). But now the syncing doesn't seem to work. I see the following exception in the logs -

[code]

[2018-08-10 12:19] tanshu commented on #63
I got this error too, but only on my chrome extension.  The mobile app synced properly.  Somehow the error went away on its own after a few restarts. You can try doing that a few times.

[2018-08-10 16:27] jcs commented on #63
Can you try the new migration script?  You may want to delete the whole `db/production/` database and re-run the tool to migrate your old `db/production.sqlite3` database.

[2018-08-12 05:58] leshik opened #64 "Can't import login from 1password"
Hi,

I'm unable to import some data from 1password, here is the error (bundle gems trace stripped):
[code]
What is it complaining about? Which one of required fields can be null?

[2018-08-13 07:52] siddhantgoel commented on #63
@jcs Thanks. The new migration script works. After this migration, the mobile app sync fine but the firefox extension doesn't. When I click on "Sync Now", the extension shows an error message "Syncing failed", and the server logs contain the following exception -

[code]

[2018-08-13 15:36] jcs commented on #63
That looks like your device record has no `token_expires_at` value for some reason.  Can you try logging out in the extension and logging back in?  That will trigger `Device#regenerate_tokens!` which will set `token_expires_at`.

[2018-08-13 15:44] jcs commented on #64
`SQLite3::ConstraintException: NOT NULL constraint failed: ciphers.favorite:`

Can you try 4060f5309?

[2018-08-13 15:44] siddhantgoel commented on #63
Awesome, this worked. Thanks!

[2018-08-13 15:44] #63 closed

[2018-08-18 05:56] Joshndroid opened #66 "New Bitwarden 1.6.0 update breaks local connection"
Heads up/PSA

The new bitwarden update V 1.6.0 breaks connection with local rubywarden installation/database.

Popup window seem to say something about 'un expected toaken < within json at position 0'
Within developer console im getting 'POST https:/ipaddress 404 bendor.js:93392 (not found)'

My other boxes with the older version still working flawlessly

Love your work, I'm assuming you maybe alr

[2018-08-18 15:26] valantur commented on #66
Yup, I'm also facing the same issue:

"POST /api/accounts/prelogin HTTP/1.1" 404 18 0.0006
And the Chrome extension says "unexpected token < in JSON at position 0" when I try to log in.

Thanks!

[2018-08-18 21:11] jcs commented on #66
This should be fixed in 979849f if you want to confirm (make sure to run `rake db:migrate`).

[2018-08-18 21:49] valantur commented on #66
Thanks I can log on to the backend now!
Howerver, I found another error when trying to import a csv file generated with my docker instance of bitwarden:

[2018-08-18 22:25] Joshndroid commented on #66
@jcs Thanks for your quick work

@valantur I had same issue and seems someone else did as well in #59 with bitwarden import

[2018-08-19 00:31] kspearrin commented on #66
@jcs Yes, this will be configurable from the web vault in a future update. If the endpoint 404s the clients will handle it in a backwards compatible way.

[2018-08-19 03:39] #66 closed

[2018-08-19 06:09] universal commented on #22
just for reference: see #65

[2018-08-19 06:11] valantur commented on #59
Yeah the importer is broken now.
Looks like bitwarden.rb defines hashPassword with needing 4 arguments (password, salt, kdf_type, kdf_iterations), and bitwarden_import.rb only provides two (password, salt) when calling that function.
Hope this helps.

[2018-08-19 18:35] jcs opened #67 "Add example import files and tests"
The import tools need to constantly be updated when things change and I have no way to test the fixes.  It would be helpful to have sample import files (CSVs or whatever) that I can use to test each tool.

Since I don't have access to any of these tools anymore, it would be great if people could supply such files.

[2018-08-20 08:05] universal commented on #67
I will work on a pull request adding support for the web vault after the attachment #65 pull request. The official web vault provides support for importing from different sources. I wonder if it would be easier to delegate the import to the web vault and use their work and not maintain a custom set of importers that regularly break.

[2018-08-24 21:09] valantur commented on #59
Hi @jcs , thanks to your changes to the importer tools, I think I was able to import my passwords from bitwarden. I say I "think" because I get a spinning wheel on the Chrome plugin right after logging on., and my passwords never show up. This didn't happen before importing passwords onto my user.
Here's what the terminal shows:

"POST /api/accounts/prelogin HTTP/1.1" 200 30 0.0338
"POST /identity

[2018-08-24 23:06] Joshndroid commented on #59
Unfortunately that seems like the issue I had to begin with (with Firefox and official app) for bitwarden import.. Spinning wheel of death with no actual passwords ever showing

[2018-09-05 16:39] linktohack commented on #38
Just FYI, the extensions (at least in Chrome) do support exporting now so you can close the issue. Just remember to do an export from time to time...

Thanks again for this repo (especially the idea) @jcs

[2018-09-05 21:41] phischmi commented on #59
Are there any news on this issue?
When importing and syncing, first everything looks fine, but then i get that spinning wheel and the imported data never shows up :/

[2018-09-06 23:12] qbit commented on #59
Looks like this impacts the keepass importer as well. Folders seem to make it in fine. I will try to get more info here pretty quick.

[2018-09-07 09:57] Joshndroid commented on #59
Bitwarden import still broken... really dont want to have to reimport my whole database by hand again :(

[2018-09-07 13:59] qbit commented on #59
Looks like the `data` field in the `ciphers` table is being populated with a hash vs the expected data:

[code]
Other entries are lacking the identifiers like `type`, `iv` and `mac`.

[2018-09-07 14:13] jcs commented on #59
@qbit Oh are there more `to_s` casts needed like in 763092a? (I'm on a phone, I can't test)

[2018-09-07 15:00] qbit commented on #59
Not entirely sure. Poking around there isn't an obvious location to add it.

For fun I tried here:

[code]

And it imports a blank entry, so I am fairly sure that isn't right :D

[2018-09-07 16:16] #64 closed

[2018-09-07 16:17] jcs commented on #59
@alxchk @Joshndroid @phischmi Can you test re-importing with e539b67?

[2018-09-07 21:18] Joshndroid commented on #59
@jcs IT WORKED... IT WORKED :D :D :D

Bitwarden generated export. fresh database. imported as listed in readme, no spinning wheel of death

[2018-09-08 10:47] phischmi commented on #59
Works as expected! Thanks!

[2018-09-08 17:04] #59 closed

[2018-09-08 17:05] jcs commented on #46
Moving to #67

[2018-09-08 17:05] #46 closed

[2018-09-11 17:16] bahamas10 opened #71 "Error importing passwords from keepass"
First quick note:

It looks like `rubeepass@3,1.0` has been yanked (this version is in the `Gemfile.lock` file) so I tried using `rubeepass` `3.1.1` and `3.2.0` but had no luck.

I'm able to successfully run the importer script after doing `bundle install --with keepass`:

[code]

And I can see all of my folders and logins in the bitwarden firefox plugin (awesome!). However, none of the passwords

[2018-09-11 17:36] bahamas10 commented on #71
I believe this may be an issue with `rubeepass` - I've created https://gitlab.com/mjwhitta/rubeepass/issues/3 with my findings.

[2018-09-14 02:34] ZNixian opened #72 "Migrating old (bitwarden-ruby) database causes attachment-related error"
Hello,

Unfortunately I don't have the output from the migration tool (I was ssh'd into my server from a virtual terminal, and didn't think to save the output before fixing it), however it was very similar #63, but on the attachments table - here's what it should have been, based on 63's log:

[code]

I was able to fix this by checking out e539b67 (before the attachments were implemented, accordin

[2018-09-14 09:41] FloBEAUG commented on #71
Hi,

I have also an issue with keepass importation script :
`Traceback (most recent call last):
	16: from tools/keepass_import.rb:69:in `<main>'
	15: from /var/lib/gems/2.5.0/gems/activerecord-5.1.6/lib/active_record/dynamic_matchers.rb:18:in `method_missing'
	14: from /var/lib/gems/2.5.0/gems/activerecord-5.1.6/lib/active_record/dynamic_matchers.rb:60:in `valid?'
	13: from /var/lib/gems/2.5.0/gem

[2018-09-14 10:14] universal commented on #72
The error most likely originates from: https://github.com/jcs/rubywarden/blob/master/tools/migrate_to_ar.rb#L55

The new code has an attachment model defined, and therefore tries to look for an ```attachments``` table . We should check what classes are defined and what tables are present in the old database and only migrate those that are present in both!

so an intersection of: ```ActiveRecord::B

[2018-09-14 10:19] universal commented on #42
I checked the new web-vault against the current master branch and the basic functionality works out of the box. I hope I will find some time over the next days to document and implement most methods required by the web interface for the management of ciphers / folders.

[2018-09-15 21:41] kniteli commented on #72
@universal

I followed that advice and it did get past that error, but it looks like there's some other issues with the migration. Specifically, if I'm reading the migrations right (I don't really know ruby so I may be wrong), it looks like you normalized the attachments into their own table, but when you dump the old database and import the new you're just flatly importing it with no mapping. Obv

[2018-09-15 21:46] jcs commented on #72
The AR migration is temporary and won't be needed/supported for long.  Just update your tree to right after the migration (like 40044728d), do the AR migration, then update the tree to HEAD and run db migrations as normal.

[2018-09-17 06:46] universal commented on #72
@kniteli ohh yeah, another "edge" case :-) what jcs mentioned should work though :-)

[2018-09-18 01:46] leshik opened #73 "Setting RACK_ENV makes no sense"
Setting `RACK_ENV` to values other than `development`, `deployment`, or `none` makes no sense, as per [rackup howto](https://github.com/rack/rack/wiki/(tutorial)-rackup-howto#automatic-middleware). Setting it to `production` or `test` is equal to setting it to `none` (disabling logging middleware), so it's not the `RAILS_ENV` replacement for rack apps.
[Here](http://www.hezmatt.org/~mpalmer/blog/2

[2018-09-19 17:08] #73 closed

[2018-09-19 17:39] jcs commented on #71
Upstream/OS-specific issue

[2018-09-19 17:39] #71 closed

[2018-09-19 17:39] #72 closed

[2018-09-20 00:54] jcs commented on #7
If someone wants to setup a properly hosted Docker config for this, please submit a PR to add it to the Deployment section of README.md.

[2018-09-20 00:54] #7 closed

[2018-09-25 15:03] luusl opened #76 "Failed to login after update"
I've updated from bitwarden-ruby to lastest master. I followed all the migration stuff and now get an error when trying to log in.

[code]

[2018-09-25 15:14] jcs commented on #76
You may need 5f3cd4cc4 but `rake db:migrate` should have created that column.

[2018-09-26 06:06] luusl commented on #76
After running bundle exec rake db:migrate multiple times (no more messages appear when running the command) it worked. Somehow not all migrations were made when the command is called only once.

[2018-09-26 12:02] #76 closed

[2018-09-28 05:09] bahamas10 opened #77 "Upgrade rubeepass"
`rubeepass` is locked at `3.1.0` and this version has been pulled from the gem repository.  I helped track down [a bug](https://gitlab.com/mjwhitta/rubeepass/issues/3) on my operating system with the module that I've verified is fixed in `3.3.0` (actually, getting `salsa20` on `0.1.3` is the real fix).

I've attached a diff below that worked for me, but I don't know much about `bundler` so this ma

[2018-09-28 07:35] Syd commented on #67
what's the end result here? should I submit importer patches or wait until the tests are there, or is the intention to deprecate the importers and focus on the web vault for import?

[2018-09-28 13:22] tomamplius opened #78 "register => invalid key"
BItwarden version : 1.8.0

When create new user, the key start with 2 ("2.KjTfuU9IRwQv/pmhqHO3HA=.....") and i get Invalid key

In the register part the key must start with 0
`
  if !params[:key].to_s.match(/^0\..+\|.+/)
      return validation_error("Invalid key")
`

[2018-09-28 15:28] #78 closed

[2018-09-28 15:32] #77 closed

[2018-09-28 23:03] phischmi opened #79 "Invalid mac when importing csv"
Hi,
just did a fresh install of rubywarden.
When trying to import my CSV i get the following error:
`sudo -u _rubywarden env RUBYWARDEN_ENV=production bundle exec ruby tools/bitwarden_import.rb -f /home/XXX/bitwarden_export_20180924223701.csv -u XXX`

``/home/_rubywarden` is not a directory.
Bundler will use `/tmp/bundler/home/XXX' as your home directory temporarily.
master password for XXX:
conve

[2018-09-29 03:14] Joshndroid commented on #79
@jcs i am also receiving this error when importing a bitwarden exported csv

[2018-09-30 11:15] phischmi commented on #79
I now tried several older commits going back to e6f7e9e, which was the last commit i successfully deployed on Raspbian Stretch. Now i'm on Armbian Stretch receiving the above error with each commit i tested :/

[2018-09-30 15:55] phischmi commented on #79
Also just tried the same on my Mac using rbenv.
Same error.
So it's obviously not an OS issue...

[2018-10-01 05:59] bahamas10 commented on #79
Just ran into this error using the keepass importer.

[2018-10-01 16:28] bahamas10 commented on #79
Verified the user I created has a key starting with `2.`:

[code]

[2018-10-01 18:47] jcs commented on #79
This should be fixed in d6f13b8 if you folks want to try importing again.

[2018-10-01 19:29] phischmi commented on #79
Works!

[2018-10-03 14:14] sbogun opened #81 "<h1>Not Found</h1> no matter what I do"
I followed the README precisely to install rubywarden on my Ubuntu 16.04 machine (also tried MacOS 10.14):
`$ git clone https://github.com/jcs/rubywarden.git`
`$ cd rubywarden/`
`$ bundle install`
`$ mkdir db/production`
`$ env RUBYWARDEN_ENV=production bundle exec rake db:migrate`
`$ env RUBYWARDEN_ENV=production ALLOW_SIGNUPS=1 bundle exec rackup -p 4567 config.ru`

But when I point my browser t

[2018-10-03 14:40] jcs commented on #81
Rubywarden is just an API server, there is no root action so a 404 is normal on a `GET /`. You need to do things with the desktop app or browser plugins.

[2018-10-03 14:40] #81 closed

[2018-10-03 14:42] jcs commented on #67
I added tests for the Bitwarden importer in 7c9342a, so I would like similar example files and tests for all of the other importers.

[2018-10-05 17:03] papertigers opened #82 "Could not find table 'attachments'"
I recently did a git pull of the repo and ran bundle.

Now when I try to sync or create passwords the logs show

`2018-10-05 16:59:01 - ActiveRecord::StatementInvalid - Could not find table 'attachments':`

If I check via sqlite I can also confirm the table is not there:
[code]

Did I somehow miss a step?  I have previously done the ActiveRecord migration and rubywarden has been running fine.

[2018-10-05 17:04] jcs commented on #82
Did you run `rake db:migrate`?

[2018-10-05 17:08] papertigers commented on #82
Nope, that's what I somehow missed.
Running `env RUBYWARDEN_ENV=production bundle exec rake db:migrate` from https://github.com/jcs/rubywarden#updating

Thanks again, sorry to bother you!

[2018-10-05 19:54] #82 closed

[2018-10-18 03:44] kspearrin commented on #38
The official Bitwarden CLI supports exports and imports. Not sure if they work with this server though...

See https://help.bitwarden.com/article/cli/#import

[2018-10-18 04:19] linktohack commented on #38
The reason behind this issue is that we did not have the web interface at that time but rely 100% on the extensions. We needed an option to opt-out if one day the extensions stop working (did happen, thank you for your warning that day.)

One solution like your suggestion is to pack this server with a pinned version of your official web interface.

Anyway, great works with Bitwarden, both as offic

[2018-10-24 18:06] shelterx opened #84 "After upgrading db - invalid username"
I upgraded from bitwarden-ruby to the latest git.
Now when I try to sign in i get invalid username.
`
== 20180324145941 CreateUsers: migrating ======================================
-- create_table(:users, {:id=>:string, :primary_key=>:uuid})
   -> 0.0038s
== 20180324145941 CreateUsers: migrated (0.0040s) =============================

== 20180324151103 CreateDevices: migrating ===================

[2018-10-24 18:42] shelterx commented on #84
Ok, so I managed to login in the app after removing the devices from the table, now i get cannot decrypt instead.
Logging in with firefox extension does not work at all.

[2018-10-24 23:06] shelterx commented on #84
Ahem, this one was a bit tricky. I missed the migrate to AR part because I thought that's what "env RUBYWARDEN_ENV=production bundle exec rake db:migrate" did. So I did this migrate and first it created an empty database (maybe you could include some check here to see if there's an actual DB that can be updated) Somehow I got the migrate to work with the iPhone app, don't ask me how.

Maybe you sh

[2018-10-25 00:04] #84 closed

[2018-11-01 18:20] tomuta opened #86 "Add push support for syncing"
First of all, awesome project! 1000 times better approach than the .net stuff...

Anyway, I noticed that multiple clients don't sync changes automatically.  Looks like it's using websockets for that, as per https://community.bitwarden.com/t/auto-sync-on-all-platformes/355/10

I think the client is trying to set up syncing, but rubywarden doesn't implement that piece:

[2018-11-06 07:46] meroujanantonyan opened #87 "Dual stack support"
Hello,

I am unable to make rubywarden listen on both ipv4 and ipv6.
This cmd is ok for ipv6
 sudo -u rubywarden env RUBYWARDEN_ENV=production ALLOW_SIGNUPS=1 bundle exec rackup -o "::" -p 9080 config.ru
And this one for ipv4
 sudo -u rubywarden env RUBYWARDEN_ENV=production ALLOW_SIGNUPS=1 bundle exec rackup -o "0.0.0.0" -p 9080 config.ru

The first one is supposed to listen on both ipv4 and ipv6

[2018-11-08 17:19] jcs commented on #87
That has nothing to do with Rubywarden and would be an issue with Rack.  Regardless, you should probably not be exposing Rack directly to the internet and use something in front of it like nginx.

[2018-11-08 17:19] #87 closed

[2018-11-21 02:41] meroujanantonyan opened #88 "Impossible to login"
Hello,

first thank you for this project!
i use rubyvarden since 1 month and all worked fine before this morning.
I cant login anymore:

`┌(rubywarden@methamphetamine)─(pts/0)─(~/rubywarden)
└─(>) env RUBYWARDEN_ENV=production bundle exec rackup --host 0.0.0.0 -p 8080 config.ru
[2018-11-21 03:36:23] INFO  WEBrick 1.4.2
[2018-11-21 03:36:23] INFO  ruby 2.5.1 (2018-03-29) [x86_64-linux-gnu]
[2018-11

[2018-11-21 03:46] meroujanantonyan commented on #88
My bad..
error_page 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 420 422 423 424 426 428 429 431 444 449 450 451 500 501 502 503 504 505 506 507 508 509 510 511 /error.html;
location = /error.html {
        root /var/www/html;
        internal;
}

Dont catch all errors for api

[2018-11-21 03:46] #88 closed

[2018-12-10 20:35] jcs opened #89 "Implement password history"
Upstream password history seems to be [implemented](https://github.com/bitwarden/core/commit/5c31a35cfe801906e78de4ad824e7a289e03e0ce) server-side, requiring a new table.

[2018-12-24 11:08] galaxy001 opened #90 "Allow change KDF iterations in tools/change_master_password.rb"
The offical account setting webpage allows user to set KDF iterations.
But the client does not offer any options on master password.

I hope we can modify it here.

[2018-12-29 09:19] universal commented on #90
If you want to change it, you could manually change the field in the database on the user record.

I am still working on web vault compatibility, but right now I'm sadly occupied with other stuff.

[2019-01-07 19:43] ehsanjso opened #91 "Problem in implementation of API with python"
the problem is I am ok with the process on password and I could login and sync successfully but there is a problem in decrypting data. in the documentation this part is not crystal clear for me there were questions about key and Mackey and where exactly they come from but after many tries, I think I understand what they are but I have a problem in decrypting data.
I first decrypt the key that Bitw

[2019-01-08 21:39] manojchandrashekar commented on #42
@universal Can you share your service URLs?

Currently, I have:

[code]
But the web vault refuses to work. Android app, Firefox/Chrome extensions and the Windows app works fine with the base URL set to `https://rubywarden.url`

[2019-01-09 10:51] universal commented on #42
@manojchandrashekar iirc with the latest version of the web vault you don't need to change the urls, if you have the api hosted at the same domain. I put the web vault into the public folder and have sinatra serve that up. I currently only have the code at home and not pushed yet.

so for me these steps worked:

* git clone "web-vault-repository"
* npm dist:selfhosted (or alike)
* put dist/build i

[2019-01-09 12:42] manojchandrashekar commented on #42
@universal Thank you. Will try that.

[2019-01-11 04:03] kspearrin opened #92 "Somehow make it clear to people that they shouldn't contact official Bitwarden support"
We frequently get people using these third party servers that contact official support channels for help with problems they are having with it. Lots of times we go back and forth trying to figure out what the problem they are having is only to find out later they are using a third-party server (which they originally fail to mention) and we can't help. This is a drain on resources for the official

[2019-01-11 04:13] jcs commented on #92
🤦‍♂️

I can add something more explicit to the README but I thought the existing text would have made it obvious.

Maybe the clients could hit an API endpoint that could return the vendor/version of the server? I'm not sure what kind of automated data is passed along when users contact your support but maybe that version string could be passed along. Or maybe just make it appear in the clients' se

[2019-01-11 04:17] kspearrin commented on #92
I am not versed in how this product is deployed, but is there any opportunity to present a notice in the terminal window at some point as well?

I think we can try to keep it simple with just more notices for now to see if the problem gets any better.

[2019-01-11 18:04] jcs commented on #62
🤷‍♂️

[2019-01-11 18:04] #62 closed

[2019-01-11 18:04] #53 closed

[2019-02-06 22:57] ezraholm50 opened #93 "Installation on FreeBSD"
Hey!

Thanks for this flavour of bitwarden. I'd like to install this in my Iocage jail on FreeBSD.
I'm desperate since, i've tried a dozen times to install it with corefx etc... no go

Could anyone point me in the right direction to also get all the ruby debs installed and then install rubywarden, i'm lost!

Thanks

[2019-02-06 23:24] jcs commented on #93
What fails in following the [manual setup](https://github.com/jcs/rubywarden#manual-setup) instructions?

[2019-02-06 23:41] ezraholm50 commented on #93
Oh my... i feel like an idiot, cant get past the bundle install. Note that the iocage jail is empty and doesnt even have nano/pkg installed, id did that but what ruby version etc to install?

Also the bundle install should be ran from within the git cloned folder right?

If we can get this right theres gonna be a whole lot of followers i imagine. Ill type out a guide for FreeNAS once i get it up.

[2019-02-06 23:47] jcs commented on #93
You should install whatever the newest version of Ruby available is, like 2.4 or 2.5.  Then install bundler with `gem install bundler`, then follow the instructions in the README starting with `bundle install` from the cloned git directory.

[2019-02-07 19:41] ezraholm50 commented on #93
Thanks, so far i came up with this:

[code]

So now i have a Jail with IP 192.168.3.135:4567
Accessing it via web browser gives:
`SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data`
But its only API access right, so thats alright?

Now the test command gives me:
[code]
Any advise?

Now i can connect eg bitwarden firefox addon to
(https///http???)192.168.3.135:4567 th

[2019-02-07 20:14] jcs commented on #93
Running `bundle install` will install that sqlite3 package in `vendor/bundle` so you shouldn't need to run the `gem install` there.

Yes, accessing the root path in a browser will not show anything useful.

The test breakage was fixed in 5ba9f9821.

[2019-02-07 20:17] ezraholm50 commented on #93
Great! I will try to setup an account connected to my local server. Does anything get passed to the bitwarden servers? I recon i have to connect my server to bitwarden using the keys they provide?

 Does it support https out of the box?

Also i needed to install sqlite3, it threw an error that it wasnt installed.

[2019-02-07 20:22] jcs commented on #93
Nothing communicates with Bitwarden's servers.  You can run it completely offline and make the browser extension communicate with http://127.0.0.1/ and it will work the same.

It doesn't support TLS on its own, you would need to put it behind nginx or some other "real" web server.

So `bundle install` without the sqlite3 gem already installed succeeded but `bundle exec ...` said the sqlite3 gem wa

[2019-02-07 20:28] ezraholm50 commented on #93
Awsome, I'll figure out the nginx proxy config.

[code]

Then:
[code]

[2019-02-07 20:31] jcs commented on #93
The first error is because the sqlite3 package isn't installed, and when you do `pkg install rubygem-sqlite3-1.3.13` it's installing sqlite3 as a dependency.  If you just `pkg install sqlite3` does just the `bundle install` work?

[2019-02-07 20:38] ezraholm50 commented on #93
I'll give it a try!

[2019-02-07 21:17] ezraholm50 commented on #93
Works! See the console output below. Here is the updated guide:
[code]

[code]

[2019-02-07 21:31] ezraholm50 commented on #93
Would a self signed cert raise issues? Setting up nginx in the jail now.

[2019-02-14 22:00] #92 closed

[2019-02-19 17:50] ezraholm50 commented on #93
Its running super smooth, thanks for the help!

[2019-03-01 05:26] kspearrin opened #94 "camelCase support in response models"
Thought you might like this change coming in future versions:
https://github.com/bitwarden/jslib/commit/48164a31d93dea61af867c7d6be06344d417431c

[2019-04-10 11:41] McQueen2063 commented on #93
Just out of curiosity? Why not use the ready pkg?
[code]

[2019-04-11 08:47] blitzjunge commented on #93
@McQueen2063 - I am running same FreeBSD version as yours, 11.2 Rel p9. If I run
pkg search rubywarden it does not get a hit.
So, where can I find the pkg?

[2019-04-15 20:03] spookey commented on #93
@blitzjunge (and @McQueen2063):
It seems the port is under ``/usr/ports/security/ruby-bitwarden`` - also seems to be pretty recent.

I am running FreeBSD 12.0.

[2019-04-15 20:45] spookey commented on #93
I compiled this port from source inside a fresh jail..
Installing ruby (?) failed because of some weird error with ``libunwind``.

Patching the ``Mk/bsd.port.mk`` [like described here](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=219524#c15) and just running ``make`` for ``/usr/ports/devel/libunwind`` compiled fine.
Then I continued to run ``make install`` inside ``/usr/ports/security/ruby-bi

[2019-04-16 09:32] blitzjunge commented on #93
Thanks a lot for your findings, @spookey
I will also try with my setup but need some days for this.

[2019-04-18 12:46] omega123456 opened #95 "Attachments not working"
Attachments dont seem to be saving properly. When you upload one via the browser plugin, it creates the record in the db, but the file blob column is always blank. Hence when you trying to download it, it just returns with a blank file. Seems to be some issue with the part where its trying to retrieve the file content in the routes/attachements.rb, but my ruby knowledge is very limited, so i'm stu

[2019-04-19 18:11] jcs commented on #95
It looks like the URL returned for an attachment has to be absolute.  That change at least gets Bitwarden downloading the attachment.  But then it shows an error, and I'm not sure why.

[2019-04-21 20:30] omega123456 commented on #95
In my case it doesnt even save the attachment. From what i can tell i should be storing it in the blob field in the table, but its always blank.

[2019-04-23 10:00] shelterx opened #96 "Option for logging"
Maybe I'm missing something but I haven't found an option to disable stdout log output.
I would like an option to set this, perhaps with these values:
off
logfile=/path/to/file
stdout

Btw, I guess using &>/dev/null works too.

[2019-04-24 10:01] hgdfjhgsfjgf opened #97 "[help wanted] HTTPS Support"
This project is incredible.

I was wondering if someone could explain to me if I could set up this server with HTTPS support. I'm a Ruby noob and I don't understand if it should be added to this code or via some other way.

[2019-04-24 10:28] omega123456 commented on #97
You can set up a webserver that proxies it via https. Can do it with apache or nginx.

https://www.digitalocean.com/community/tutorials/how-to-use-apache-http-server-as-reverse-proxy-using-mod_proxy-extension

[2019-04-24 15:00] pitr commented on #97
Alternatively, [Cloudflare](https://www.cloudflare.com/) supports free HTTPS support

[2019-04-25 08:56] hgdfjhgsfjgf commented on #97
Thank you. It worked.

It works fine with the Chrome extension from BitWarden, but the app give an error: "There is a problem connecting to the server" when I use HTTPS. Is this a bug in the app or in this server?

[2019-05-26 01:42] #97 closed

[2019-05-26 01:43] jcs commented on #96
You can do that in `unicorn.conf.rb`, just set `stderr_path` to `/dev/null`.

[2019-05-26 01:43] #96 closed

[2019-05-26 01:44] #93 closed

[2019-05-26 01:44] #91 closed

[2019-05-26 02:08] #89 closed

[2019-05-26 02:21] #42 closed

[2019-06-03 07:17] cattivik66 opened #98 "- NoMethodError - undefined method `passwordhistory' for #<Cipher:0x00000008093a8b38>:"
I don't know why, but I cannot sync anymore my account.
It's only a week that I am using this solution, so perhaps it's my fault.

I simply click on the sync button, and I get this log:
`192.168,0.41 - - [03/Jun/2019:09:12:31 +0200] "GET /icons/192.168,0.1/icon.png HTTP/1.1" 302 - 0.0007
D, [2019-06-03T09:12:40.539684 #73930] DEBUG -- :   Device Load (0.2ms)  SELECT  "devices".* FROM "devices" WHE

[2019-06-03 12:01] jcs commented on #98
You have to migrate the database. Per the `README`:

`sudo -u _rubywarden env RUBYWARDEN_ENV=production bundle exec rake db:migrate`

[2019-06-03 12:01] #98 closed

[2019-06-24 00:09] Extarys opened #99 "Import from Enpass?"
First, thank you for your amazing work! I installed rubywarden with my pihole, they get along well.

Second, I'm a long time user of Enpass and I have ~300 unique passwords saved in there.

I can export in txt or json, but is there an import script I could use that would be compatible with Enpass exported file?

Thanks

[2019-06-24 15:36] jcs commented on #99
The [bitwarden importer](https://github.com/jcs/rubywarden/blob/master/tools/bitwarden_import.rb) imports from a CSV, so you could probably just modify that to use the fields in your specific CSV.

[2019-06-27 22:01] Extarys commented on #99
I can only export to txt or json. The txt looks like multiple blocks of:

`Title : pexels
Username : something
E-mail : something@someone.com
Password : something
Website : https://www.pexels.com/join/
Note : photo`

Si I guess I will just transfer it to BitWarden every time I log in to something until it's all transferred :)

[2019-07-07 03:52] fireglow commented on #86
Is there a way to put up a bounty on this? Maybe a few other people could chip in, too.

[2019-07-17 03:02] raufis27 opened #100 "iOS app crash after latest update"
It works with official Bitwarden deployment, but not with rubywarden. Any ideas ?

[2019-07-17 03:08] raufis27 commented on #100
[2019-07-16 23:07:56] ERROR Errno::ECONNRESET: Connection reset by peer @ io_fillbuf - fd:10
	/usr/lib/ruby/2.3.0/webrick/httpserver.rb:82:in `eof?'
	/usr/lib/ruby/2.3.0/webrick/httpserver.rb:82:in `run'
	/usr/lib/ruby/2.3.0/webrick/server.rb:296:in `block in start_thread'

[2019-07-17 12:08] jcs commented on #100
That just means the socket died, and if the iOS app is crashing, that's not unexpected.

FWIW, the newest iOS app is working just fine for me with Rubywarden.

[2019-07-17 12:28] raufis27 commented on #100
I tried iPad and IPhone app. Deleted app, reinstalled, same issue.
Try to log out and login back, that is when problem happens. If you just
update it works fine.

On Wed, Jul 17, 2019 at 8:08 AM joshua stein <notifications@github.com>
wrote:

--
*Rauf Ismayilov, *IT Manager
Neoscape

*Boston | New York* *| San Francisco*

23 Drydock Avenue, Suite 710W
Boston, MA 02210

*T *617.345.0330

*YOUR VISI

[2019-07-18 21:01] raufis27 commented on #100
Are you able to log out and login back ?

[2019-07-19 15:19] deedoubledub commented on #100
I'm seeing a crash of the Android app on login. The Chrome extension works fine for fresh logins.

This is the only thing I get server-side:
`Jul 19 11:04:57 bitwarden env[5195]: x.x.x.x, y.y.y.y - - [19/Jul/2019:11:04:57 -0400] "POST /api/accounts/prelogin HTTP/1.1" 200 30 0.0016`

[2019-07-19 15:30] jcs commented on #100
@kspearrin any ideas from your crash reports what could be causing this?

[2019-07-20 01:20] kspearrin commented on #100
If @raufis27 or @deedoubledub could swing by the [Bitwarden dev channel on gitter](https://gitter.im/bitwarden/Lobby) and ping me, I could try to work with them compare their crashes to the crash reports received for further information.

[2019-07-24 02:50] kspearrin commented on #100
[code]

Looks like your API is returning `null` for `KdfIterations`. This is a non-nullable integer. I suppose the older versions handled that case gracefully, but it is invalid nonetheless.

[2019-07-24 16:40] jcs commented on #100
Thanks Kyle.

@raufis27 and @deedoubledub  can you update your Git tree and run `bundle exec rake db:migrate` and see if you still get crashes?

[2019-07-24 17:23] #94 closed

[2019-07-24 17:40] #90 closed

[2019-07-24 17:42] jcs commented on #90
`tools/change_master_password.rb` will now prompt for KDF iterations, defaulting to the new default of 100,000.

[2019-07-25 02:59] raufis27 commented on #100
Now I get invalid password error and can't open DB in any app, including desktop apps. Changing password using tools/change_master_password.rb also doesn't work.

[2019-07-25 03:05] jcs commented on #100
Then I have no idea what is going on with your database.

Can you run `sqlite3 db/production/production.sqlite3` and then `select kdf_iterations, kdf_type from users;`

[2019-07-25 03:10] raufis27 commented on #100
First I did git pull --ff-only, then env RUBYWARDEN_ENV=production bundle exec rake db:migrate

Could not find rake-12.3.3 in any of the sources
Run `bundle install` to install missing gems

Bundle complete! 18 Gemfile dependencies, 59 gems now installed.
Use `bundle info [gemname]` to see where a bundled gem is installed.
Post-install message from i18n:

HEADS UP! i18n 1.1 changed fallbacks to ex

[2019-07-25 03:16] raufis27 commented on #100
sqlite> select kdf_iterations, kdf_type from users;
100000|0

[2019-07-25 03:21] raufis27 commented on #100
tools/change_master_password.rb:59:in `<main>': master password does not match stored hash (RuntimeError)
I am 100% sure that password is correct. Any ideas how I can rescue my database now ?

[2019-07-25 03:23] jcs commented on #100
Ah, so you probably got both updates at the same time so it set your null value to 100000 but you probably have the old value of 5000.

`update users set kdf_iterations = 5000`

And then see if you can login.  If so, run `tools/change_master_password.rb` to re-hash your password with the proper new kdf iterations of 100000.

[2019-07-25 03:25] raufis27 commented on #100
Is this correct syntax ?
sqlite> select kdf_iterations, kdf_type from users;
100000|0
sqlite> update users set kdf_iterations = 5000
   ...>

[2019-07-25 03:26] jcs commented on #100
With a trailing `;` yes.

[2019-07-25 03:36] raufis27 commented on #100
Thank you so much! It works now!

[2019-07-25 21:58] deedoubledub commented on #100
I finally got a chance to catch up with this and I can confirm that the issue is now fixed. Thanks!

[2019-07-25 22:31] #100 closed

[2019-07-26 22:06] Extarys opened #101 "How to backup and restore?"
Since I'm running this on a Pi with other services, I want to make sure I do this right so I don't lose my passwords!

Can I just copy the db folder, reinstall Rubywarden and copy the backup db over the original one? How does this work?
I realized today I do not have any cronjob to backup my passwords.

What is the suggested way of backing them up?

[2019-07-27 00:43] jcs commented on #101
Yes, the `db/production/production.sqlite3` file is all you need to backup and restore.

[2019-07-27 04:27] Extarys commented on #101
Ok thanks for confirming, I didn't want to mess that up!

[2019-07-27 04:27] #101 closed

[2019-09-19 19:30] universal opened #103 "CORS for new Safari Extension"
It appears the new bitwarden extension for safari needs some CORS stuff. I'm still figuring things out and need to find my old macbook and have a look.

## worth looking into
 * https://github.com/jdesrosiers/sinatra-cors

[2019-09-25 13:07] markfoodyburton commented on #103
Have same problem

[2019-09-25 13:37] universal commented on #103
since my old macbook only has high sierra available I wasn't able to test anything mac specific over the weekend. I might find some time this weekend.

[2019-09-25 13:42] markfoodyburton commented on #103
FWIW I'm stuck on High Sierra too.

[2019-09-28 18:40] raufis27 commented on #103
What we gonna do about this ? "An error has occurred
Preflight response is not successful" < Safari extension.

[2019-09-29 02:09] #103 closed

[2019-09-29 02:09] jcs commented on #103
Please try c7c9667 and see if it fixes the Safari extension for you.

[2019-10-10 10:08] universal commented on #103
I deployed this and my brother, who is using a mac / safari, reported that it is working again :-) thanks for the work!

[2019-10-11 10:19] rmx-it opened #104 "Problem to update or sync after update"
Hi,
I just updated from a version from 2018 to the latest version.
The base System (FreeBSD) has the following ruby environment:
  ruby-2.6.5
  ruby26-gems-3.0.6
  rubygem-bundler-2.0.2
I ran `bundle update` and `db:migrate`.

In the log I get now:
Oct 11 12:09:33 xxx bitwarden: 	/usr/local/lib/ruby/gems/2.6/gems/activemodel-5.1.7/lib/active_model/attribute_methods.rb:432:in `method_missing'
Oct 1

[2019-10-11 14:47] jcs commented on #104
That shows that a field doesn't exist in the table, did you migrate in the production environment?

Also, AFAIK `bundle update` is not what you want, that ignores the versions in the lock file. Just `bundle install`.

[2019-12-30 10:54] benoitc opened #106 "using web vault"
Is there a way to configure the web vault with ruby warden? I am not sure how to configure the identity URL if it's possible.

[2020-01-27 17:23] rmx-it commented on #104
Hi,
I couldn't check it sooner but either the `bundle install` and/or the loofah bump fixed it.

Thanks for helping!

[2020-01-27 17:23] #104 closed

[2020-02-28 21:06] raufis27 opened #107 "Upgrade error"
Any ideas ?
Traceback (most recent call last):
        20: from /usr/local/bin/rake:23:in `<main>'
        19: from /usr/lib/ruby/2.5.0/rubygems.rb:304:in `activate_bin_path'
        18: from /usr/lib/ruby/2.5.0/rubygems.rb:304:in `synchronize'
        17: from /usr/lib/ruby/2.5.0/rubygems.rb:306:in `block in activate_bin_path'
        16: from /usr/lib/ruby/2.5.0/rubygems.rb:243:in `finish_resolv

[2020-03-31 18:32] mk-f opened #110 "Implement 2FA recovery code"
Bitwarden offers to use a recovery code in case of losing the second factor.

For now it seems possible to deactivate 2FA for an account by manually resetting the ``totp_secret`` of the respective user:

```update users set totp_secret = null where email = 'some@user.tld'```

[2020-04-01 04:14] Sudrien opened #111 "Deleting folder doesn't clear matching "folderId" from items"
I assume this is where this bug should be filed, as the client worked as expected before restart.

I delete a folder with items in it. Client now shows items to "No Folder". Restart client. Items now show up in "All Items", but not "No Folder".

Export shows items showing this behavior still have a "folderId" - that folder id does not show up in the folders list.

Looking at code, 549f66466ca753ee

[2020-04-02 16:08] rei-vilo opened #112 "Provide procedure to implement HTTPS"
I've installed Rubywarden on a Raspberry Pi. The native macOS Bitwarden connects successfully although through `http`. However, the Bitwarden extension for Safari and the iOS app seem to require an `https` connection.

Unfortunately, I wasn't able to set `https` on my Raspberry Pi. Apache is already running with `https` enabled on my Raspberry Pi.

I went through #97, https://www.digitalocean.com/

[2020-04-26 20:50] IchSchreiGleich commented on #112
You could configure an virtual host in apache and then "ProxyPass" and "ProxyReverse" requests from and to localhost:4567 - So i did in my configuration.

[2020-05-04 23:58] CollinAlpert opened #113 "Error when importing passwords from KeePass"
When importing my data from a KeePass file, I am greeted with the following exception:
![image](https://user-images.githubusercontent.com/14217185/81103971-1b64de00-8f12-11ea-8057-b737999dd641.png)

`rubeepass` is definitely installed in my gems so I have no idea what could be causing this. Is there any more data I need to provide?

[2020-05-05 18:39] jcs commented on #113
Does it work after doing `bundle install --with keepass`?

[2020-05-05 18:56] CollinAlpert commented on #113
Awesome, that worked, thanks! Would you mind updating the README?

[2020-05-05 18:56] #113 closed

[2020-05-05 19:00] jcs commented on #113
It's already in there:

https://github.com/jcs/rubywarden/blame/master/README.md#L189-L190

[2020-05-06 06:54] CollinAlpert commented on #113
Well this is embarrassing...sorry 'bout that!

[2020-05-19 11:53] markfoodyburton opened #114 "DEBUG messages"
I get a lot of messages of the form:
DEBUG -- :   #033[1m#033[36mAttachment Load (0.3ms)#033[0m  #033[1m#033[34mSELECT "attachments".* FROM "attachments" WHERE "attachments"."cipher_uuid" = ....
in my logs.

Actually there are no attachments to load.

Is there a way to remove these debug messages?

[2020-06-03 00:04] CollinAlpert opened #115 "404 error when deleting entry"
When deleting an item in the Bitwarden Linux app, the call `"PUT /api/ciphers/949c2a6e-b295-498a-8af3-2c4a1e2bbd7c/delete HTTP/1.1" 404 60 0.0044` is made. Evidently, a 404 error code is returned and the entry is not deleted. I just previously restored my passwords from a backup of the `production.sqlite3` file, in case that helps.

[2020-06-03 20:31] heggink commented on #115
Same happens with me on the windows app and chrome plugin. Can't seem to be able to delete any entries... rubywarden running under freenas jail.

[2020-06-03 21:57] omega123456 commented on #115
Same here. It started happening after the recent update of the client. Looks like rubywarden needs updating to work with the latest version of the app.

[2020-06-04 10:09] heggink commented on #115
just downgraded the plugin to 1.43. Can delete entries again. in 1.44, there was an change to soft delete entries. maybe related.

[2020-06-27 21:07] halukunal commented on #115
#117 I added new delete route support.

[2020-06-27 21:20] heggink commented on #115
Excellent! Thanks.

[2020-06-29 21:11] #115 closed

[2020-06-30 21:09] luporr opened #118 "Saving attachments does not work"
When clicking the download icon to download an attachment from an entry, it begins spinning without anything happening. When selecting another and then reselecting the initial entry everything is normal again.

Rubywarden version from current master branch, Bitwarden client version 1.18.0 on macOS 10.15.5

[2020-06-30 21:19] jcs commented on #118
Duplicate of #95

[2020-06-30 21:19] #118 closed

[2020-07-11 20:35] bsilvereagle commented on #112
There are some pointers here, as well as an explanation to make the https connection compatible with the iOS app:

https://frdmtoplay.com/self-hosting-bitwarden-on-a-beagle-bone-black/

[2020-07-24 21:20] manojchandrashekar commented on #103
I am seeing this again. Also mentioned here: https://github.com/bitwarden/browser/issues/1140

And the code above is already in the latest release. `lib/app.rb`.

[2020-07-27 14:12] Kitof opened #119 "Error when importing from KeePass 2.x"
I've got a Traceback when importing from a KeePass 2.x with keepass_import.rb

[code]

[2020-08-12 09:00] Phenitei opened #120 "Delete user"
Hi!
Thank you for the awesome work both documenting the API and writing rubywarden. What is the recommended way to delete a user from the database ? Will a simple delete cascade work ?

[2020-08-28 03:31] baddwin opened #121 "Invalid master password when unlocking desktop client"
It seems there's a change on latest official Bitwarden that makes the desktop client cannot unlock session and return error "Invalid master password".
There's a discussion here: https://community.bitwarden.com/t/cant-unlock-desktop-client-with-master-password-after-1-20/13728

I don't know whether you're working on this now.

[2020-08-28 17:34] jcs opened #122 "rubywarden future"
I [started](https://jcs.org/2017/11/17/bitwarden) this project 3 years ago as a way to document how the Bitwarden clients and server communicated, and to develop a leaner alternative to the official Bitwarden server backend.  As Bitwarden has gained popularity over the years and added many new features, changes in the server components are required to remain compatible.

Also in that time, [bitwar

[2020-08-28 17:43] jcs commented on #121
I'm [no longer working on this](https://github.com/jcs/rubywarden/issues/122).

[2020-09-21 06:46] universal commented on #122
I was contemplating the switch myself, as it has some features implemented I never got around to fully implement myself for rubywarden. As much as I would have liked to do it, but the student/phd days are over, so time is becoming a limited resource ;-)

Did you migrate yourself?  Do you have any pointers? :-)

Thanks a lot for all the work you put into this!

[2020-10-22 13:47] shelterx commented on #122
How do i migrate to bitwarden_rs? I mean I have tons of passwords in my current rubywarden installation.

[2020-10-22 16:41] IchSchreiGleich commented on #122
Just export in Rubywarden as .csv and import in Rubywarden_rs as "Bitwarden CSV-File". Of course you delete the file immediately afterwards. ;)

[2020-10-22 17:32] shelterx commented on #122
@IchSchreiGleich Thanks. I missed that function.

@jcs Sad to see the project stall, I would have preferred to continue to use rubywarden. But thanks for all the effort you put into making this project.

[2020-10-23 13:19] universal commented on #122
I tried some shenanigans with directly copying over the encrypted contents of some entries in the database, but haven't had any luck so far... I guess I have to invite my family members for a remote session ;-)

[2020-12-22 18:32] #106 closed

[2020-12-22 18:33] #107 closed

[2020-12-22 18:45] #111 closed

[2020-12-22 18:45] #112 closed

[2020-12-22 18:47] jcs commented on #114
Those should only appear if you are not using `RUBYWARDEN_ENV=production`

[2020-12-22 18:47] #114 closed

[2020-12-22 18:53] jcs commented on #120
As of 31122bd, a destroy on the user object should destroy all the associated folders and ciphers

[2020-12-22 18:53] #120 closed

[2020-12-22 18:53] jcs commented on #121
This should be fixed in 4230e07a

[2020-12-22 18:53] #121 closed

[2022-03-27 19:51] kjarex opened #126 "Fork?"
Is anyone going to fork and continue it?

[2022-03-28 16:12] jcs commented on #126
FWIW I still use this every day and will probably make bugfixes and small updates to remain compatible with the iOS and desktop apps if something comes up, but I'm not looking to add new features to it.

[2022-03-28 16:14] #5 closed

[2022-03-28 16:14] #22 closed

[2022-03-28 16:14] #38 closed

[2022-03-28 16:14] #67 closed

[2022-03-28 16:14] #86 closed

[2022-03-28 16:14] #95 closed

[2022-03-28 16:14] #99 closed

[2022-03-28 16:14] #110 closed

[2022-03-28 16:14] #119 closed

[2022-05-17 15:20] #126 closed